parameters:
    errorFormat: symplify

    paths:
        - bin
        - src
        - tests

    excludePaths:
        - */Fixture/*

    level: 8

    treatPhpDocTypesAsCertain: false

    # @see https://github.com/symplify/phpstan-rules
    symplify:
        symfonyReturnType: true
        laravelReturnType: true
        pathStrings: true
        ctor: true
        mocks: true
