parameters:
    paths:
        - bin
        - src
        - tests

    excludePaths:
        - tests/Fixture/*

    level: 8

    ignoreErrors:
        # crazy array shapes
        - '#Parameter (.*?) of method TomasVotruba\\Lines\\Console\\TablePrinter::formatRowsNumbers\(\) expects array(.*?) array<array> given#'
