parameters:
    errorFormat: symplify

    paths:
        - bin
        - src
        - tests
        - views

    excludePaths:
        - */Fixture/*

    level: 8

    treatPhpDocTypesAsCertain: false
